<div class="panel panel-default center-block">
    <div class="panel-heading">
        <h5>Create Connection</h5>
    </div>
    <div class="panel-body">
        <div class="form-group">
            <!--label>Connection Name:</label-->
            <div class="input-group">
                <span class="input-group-addon">Connection Name</span>
                <input type="text" class="form-control" ng-model="connection.name" placeholder="optional" autofocus>
            </div>
        </div>
        <div class="form-group">
            <!-- <label>Host/IP:</label> -->
            <div class="input-group">
                <span class="input-group-addon">Host/IP</span>
                <input type="text" class="form-control" ng-model="connection.host">
            </div>
        </div>
        <div class="form-group">
            <!-- <label>Port:</label> -->
            <div class="input-group">
                <span class="input-group-addon">Port</span>
                <input type="text" class="form-control" ng-model="connection.port">
            </div>
        </div>
        <div class="form-group">
            <!-- <label>User:</label> -->
            <div class="input-group">
                <span class="input-group-addon">User</span>
                <input type="text" class="form-control" ng-model="connection.user">
            </div>
        </div>
        <div class="form-group">
            <!-- <label>Password:</label> -->
            <div class="input-group">
                <span class="input-group-addon">Password</span>
                <input type="password" class="form-control" ng-model="connection.password">
            </div>
        </div>
        <!--div class="checkout">
            <label>
                <input type="checkbox">
                Remember password
            </label>
        </div-->
        <div class="form-group text-center">
            <button class="btn btn-default" ng-click="testConnection();">Test</button>
            <button class="btn btn-primary" ng-click="createConnection();">Connect</button>
        </div>
    </div>
</div>